html, body {
    height:100%;
    font-family: 'Montserrat', sans-serif;
}
.rosy-background {
    background-color:#ff434c;
    color:white;
}
.rosy {
    color:#ff434c;
}
.white {
    color: white;
}
.blue-background {
    background-color:#1065b4;
    color:white;
}
.blue {
    color:#1065b4;
}
.grey-light-background {
    background-color:#eeeeed;
}
.grey-dark-background {
    background-color:#bbb8b7;
    color:white;
}
.grey-dark {
    color:#aba8a7;
}
.yellow {
    color:#fab702;
}
#flag {
    width:55px;
    margin:0 auto;
    margin-bottom:30px;
}
#header_title {
    font-variant: small-caps;
    text-align: center;
    margin:0 auto;
    font-size:26px;
    font-weight: normal;
    text-align: center;
    margin-bottom:15px;
}
#sponsors {
    width:70%;
    margin: 0 auto;
    text-align: center;
}
#sponsors ul li {
    display: inline-block;
}
#foule {
    width:100%;
    margin: 0 auto;
    text-align: center;
}
#header_question span {
    padding:6px 30px 10px 30px;
    line-height:1.7em;
}
#header_question h1 {
    font-size:34px;
    font-weight: normal;
    padding:0px;
    margin:0px;
}
#header_question {
    font-variant: small-caps;
    color: white;
    margin:0 auto;
    text-align: center;
    margin-bottom:15px;
    padding:2px;
}
@media (max-width: 1000px) {
    #header_question h1 span {
           line-height:1.2em;
    }
    #header_question h1 {
        font-size:32px;
        background-color:#ff434c;
        padding:10px;
    }

}
#header_subtitle span {
    font-weight: bold;
}
#header_subtitle h2 {
    font-size:24px;
}
#header_subtitle {
    text-align: center;
    margin: 30px auto;
}
#explication h3 {
    font-size:20px;
    text-align:center;
}
.wrap {
    width:60%;
    margin:0 auto;
}
#explication {
    padding: 30px 0px;
    color:white;
    line-height: 23px;
}
#a_vous_voter p {
    text-align:center;
}
#a_vous_voter h3 {
    font-variant: small-caps;
    font-size:38px;
    text-align:center;
}
#a_vous_voter {
    padding: 30px 0px;
}
#remerciements h3 {
    font-variant: small-caps;
    font-size:24px;
    text-align: center;
}
#remerciements a {
    color:white;
    text-decoration: underline;
}
#remerciements p {
    text-align: center;
}
#remerciements {
    padding: 30px 0px;
}
#kit_presse {
    padding: 30px 0px;
}
.point {
    font-size:30px;
    font-weight: bold;
    text-align: center;
}
#avec_facebook:hover {
    background-color:#ff030c;
    cursor:pointer;
    color:white;
}
#avec_facebook span {
    font-size:17px;
    font-weight:normal;
}
#avec_facebook {
    padding:10px;
    font-size:24px;
    font-weight:bold;
    border:2px solid #ff434c;
    width:250px;
    text-align: center;
    margin:0 auto;
}
#avec_laprimaire span {
    font-size:17px;
    font-weight:normal;
}
#avec_laprimaire:hover {
    background-color:#ff434c;
    color:white;
    cursor: pointer;
}
#avec_laprimaire {
    color: #ff434c;
    padding:10px;
    font-size:24px;
    font-weight:bold;
    border:2px solid #ff434c;
    width:250px;
    text-align:center;
    margin:0 auto;
}
#kit_presse_btn {
    color: white;
    padding:10px;
    font-size:20px;
    font-weight:bold;
    border:2px solid white;
    width:250px;
    text-align:center;
    margin:0 auto;
}
#bd h3 {
    font-variant: small-caps;
    font-size:38px;
    text-align: center;
}
#lechoixcommun span {
    font-weight: normal;
    font-size:17px;
}
#lechoixcommun {
    color: #fab702;
    padding:10px;
    font-size:20px;
    font-weight:bold;
    border:2px solid #fab702;
    width:250px;
    text-align:center;
    margin:20px auto;
}

#participer:hover {
    cursor: pointer;
}


.btn {
    border-radius:0px;
    background-color:white;
    padding:10px;
    font-size:24px;
    font-weight:bold;
    min-width:250px;
    text-align:center;
    margin:0 auto;
    margin-bottom:40px;
}
.btn:hover{
    color:white;
}
.btn-blue{
    border:2px solid #1065b4;
    color:#1065b4;
}
.btn-blue:hover{
    background-color: #1065b4;
}

.btn-rosy{
    border:2px solid #ff434c;
    color:#ff434c;
}
.btn-rosy:hover, .btn-rosy-hover{
    background-color:#ff434c;
    color:white;
    border:2px solid #ff434c;
}
